

html {
    font-weight: 300;
    line-height: 1.5;
}

body {
    font-family: Lato, sans-serif;
    color: rgb(71, 70, 73);
    margin: 0;
}

h2 {
    color: rgb(144, 145, 146);
}

h3 {
    font-size: 15px;
}

a {
    text-decoration: none;
    color: rgb(117, 114, 114);
}

@media only screen and (max-width: 990px) {
    html {
        font-size: 14px;
    }
}

/* header */

header {
    display: flex;
    align-items: center;
    padding: 2rem 3rem;
    
}

header .logo {
    flex-grow: 1;
}

nav li {
    display: inline;
    padding-right: 2rem;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav a:hover {
    font-weight: bold;
}

.logo img {
    float: left;
}

.mobile-icon {
    display: none;
}


@media only screen and (max-width:540px) {
    header {
        flex-direction: column;
        padding: 0;
    }

    header .mobile-icon {
        display: block;
    }

    header .logo {
        display: none;
    }

    nav a {
        display: none;
    }
}




/* 1st BANNER */
.container {
    display: flex;
    background-color: rgba(214, 233, 233, 0.993);
}

.banner img {
    margin: 30px;
    height: auto;
    width: 60%;
}

.learn a {
    border: 1px solid white;
    padding: 10px 30px;
}

.learn a:hover {
    background-color: white;
}

/* 2nd BANNER */
.second-banner {
    background-color: white;
    display: flex;
}

.left h1 {
    margin: 32px 24px 24px;
}

.left h3 {
    margin: 0 32px 24px;
    width: 60%;
}

.left img {
    height: auto;
    width: 60%;
    margin: 30px;
}

.right {
    display: block;
    
}

.right img {
    height: 120px;
    width: 35%;
}

.right .box {
    display: flex;
    text-align: center;
    margin: 5px;
    padding: 1rem 2rem;
}

.right .box:hover{
    background-color: rgba(214, 233, 233, 0.993);
}

.box a {
    border: 1px solid black;
    padding: 5px 10px;
}

.box a:hover {
    background-color: rgb(165, 161, 161);
    color: white;
}

/* 3rd BANNER */
.course {
    background-color: rgba(214, 233, 233, 0.993);
    padding: 0 75px;
}

.course .courses {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.course h1 {
    text-align: center;
    padding: 2rem;
    font-size: 2rem;
}

.course h3 {
    font-size: 1.375rem;
    line-height: 1;
}

.courses p {
    font-size: 0.875rem;
    padding-left: 8px 16px;
    line-height: 1.4;
}

.courses .item {
    margin: 5px;
    padding: 1rem 2rem;
}

.courses .item:hover{
    background-color: white;
}

.item img {
    width: 300px;
}

/* Exhibit */
.exhibit h1 {
    text-align: center;
    padding: 2rem;
}

.movie {
    padding-left: 60px;
}

.exhibit p {
    font-size: 0.875rem;
    width: 50%;
}

.exhibit .document {
    display: flex;
    align-items: center;
    
}


.documents {
    display: block;
}

.documents img {
   width: 20%;
}



.documents .document {
    margin: 2rem;
    padding: 1rem;
}

.documents .document:hover{
    background-color:  rgba(214, 233, 233, 0.993);
}

/* FOOTER */
footer {
    background-color: rgba(214, 233, 233, 0.993);
    display: flex;
    
}

footer p {
    margin: 16px 24px;
    flex-grow: 1;
}

footer a{
    padding: 20px;
}
